@charset "utf-8";
/* *********************************************
* Project ===== 
* FileName === base.css
* Author ===== 
* Date ======= 
* Last ======= 
********************************************* */


/* --------------------------------------------
 * default
/* ------------------------------------------ */
html,body{width:100%;height:100%;}
body {font-family:'NanumGothic', 'dotum', Arial, Helvetica, sans-serif;font-size:12px;color:#6e6e6e;}
html,body,div,span,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,h1,h2,h3,h4,h5,h6 {margin:0;padding:0;list-style:none;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}


/* --------------------------------------------
 * html5 block
/* ------------------------------------------ */
header,footer,section,article,aside,nav,hgroup,details,figure,figcaption {display:block;}


/* --------------------------------------------
 * link
/* ------------------------------------------ */
a:link		{color:#6e6e6e;text-decoration:none;}
a:visited	{color:#6e6e6e;text-decoration:none;}
a:hover	{color:#6e6e6e;text-decoration:none;}
a:active	{color:#6e6e6e;text-decoration:none;}
a:focus	{}


/* --------------------------------------------
 * etc
/* ------------------------------------------ */
address,em	{font-style:normal;}
strong {font-weight:normal;}
hr				{display:none;}
img			{border:0;vertical-align:middle;}


/* --------------------------------------------
 * table
/* ------------------------------------------ */
table {width:100%;border-collapse:separate;border-spacing:0;table-layout:fixed;}
tbody, tfoot, thead, tr, th, td {word-break:break-all;}
caption {visibility:hidden;width:0;height:0;font-size:0;line-height:0;position:static;left:0;top:-999999px;}


/* --------------------------------------------
 * fieldset
/* ------------------------------------------ */
fieldset	{border:none;}
legend	{visibility:hidden;width:0;height:0;font-size:0;line-height:0;position:absolute;left:0;top:-999999px;}


/* --------------------------------------------
 * form
/* ------------------------------------------ */
button,
input[type=button],
input[type=submit],
input[type=reset] {cursor:pointer;width:auto;overflow:visible;vertical-align:middle;background:none;margin:0;padding:0;}
input[type="radio"],
input[type="checkbox"] {width:13px;height:13px;margin-top:-2px;padding:0;}
input[type="password"]{font-family:'arial' !important;}
button::-moz-focus-inner {padding:0;border:0;}
select	{vertical-align:middle;font:12px,dotum;}
textarea	{resize:none;}
input,button,select,textarea {vertical-align:middle;border:0;}

input.inf1 {margin:0;border:1px solid #ccc;font-size:12px;color:#222;font-family:'돋움','Dotum';background-color:#fff;height:28px;}
input.inf1::-ms-value {background-color:#fff;border:0;}
input.inf1::-webkit-file-upload-button {height:28px;border:0;}

/* --------------------------------------------
 * web font
/* ------------------------------------------ */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url(/font/NanumGothic-Regular.eot);
  src: url(/font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(/font/NanumGothic-Regular.woff) format('woff'),
       url(/font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  font-weight:600;
  src: url(/font/NanumGothic-Bold.eot);
  src: url(/font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(/font/NanumGothic-Bold.woff) format('woff'),
       url(/font/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumMyeongjo';
  font-style: normal;
  font-weight:600;
  src: url(/font/NanumMyeongjo.eot);
  src: url(/font/NanumMyeongjo.eot?#iefix) format('embedded-opentype'),
       url(/font/NanumMyeongjo.woff) format('woff'),
       url(/font/NanumMyeongjo.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumMyeongjoBold';
  font-style: normal;
  font-weight:600;
  src: url(/font/NanumMyeongjoBold.eot);
  src: url(/font/NanumMyeongjoBold.eot?#iefix) format('embedded-opentype'),
       url(/font/NanumMyeongjoBold.woff) format('woff'),
       url(/font/NanumMyeongjoBold.ttf) format('truetype');
}