@font-face {
  font-family: 'NanumBarunGothic';
  src: url('fonts/NanumBarunGothicUltraLight.eot'); /* IE9 Compat Modes */
  src: url('fonts/NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/NanumBarunGothicUltraLight.woff') format('woff'), /* Modern Browsers */
       url('fonts/NanumBarunGothicUltraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/NanumBarunGothicUltraLight.svg#c948217b526f5f1237065f89b9f7a596') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  100;
}

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('fonts/NanumBarunGothicLight.eot'); /* IE9 Compat Modes */
  src: url('fonts/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/NanumBarunGothicLight.woff') format('woff'), /* Modern Browsers */
       url('fonts/NanumBarunGothicLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/NanumBarunGothicLight.svg#940ad0fb42b21ff3fcaa5e2d413f06b8') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('fonts/NanumBarunGothic.eot'); /* IE9 Compat Modes */
  src: url('fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/NanumBarunGothic.woff') format('woff'), /* Modern Browsers */
       url('fonts/NanumBarunGothic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/NanumBarunGothic.svg#3da63baeb21cbdf91784e4bf0540122e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('fonts/NanumBarunGothicBold.eot'); /* IE9 Compat Modes */
  src: url('fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/NanumBarunGothicBold.woff') format('woff'), /* Modern Browsers */
       url('fonts/NanumBarunGothicBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/NanumBarunGothicBold.svg#d07a39b8dceab26a94f2d61a6f577eee') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

